

<h1 mat-dialog-title>ensorceler</h1>

<mat-dialog-content>



  <div class="list-group-item list-group-item flexRow">
    <div *ngFor="let spell of getSpells()">
      <div [ngClass]="{
     'btn': true,
     'btn-dark': !isFocus(spell),
     'btn-primary': isFocus(spell)
      }"
           (click)="setSpell(spell)"
      ><p>{{spell.getDefaultName('fr')}}</p>
        <p>cout: {{spell.faithCost()}}</p>

      </div>
    </div>
  </div>



</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button class="btn-success" (click)="validate()">valider</button>
  <button mat-button type="button" class="btn-danger" mat-dialog-close>anuler</button>
</mat-dialog-actions>



