<mat-card class="resources">
  <mat-card-title><span>Resources</span></mat-card-title>

  <div class="row resourcesContent">

    <div class="col-4 resourceLeft">
      <div class="text-center resourceLeftButon">
        <div class="lightBlueButton">déplacement</div>
        <P style="color : white;">{{deplacement}}</P>
      </div>
      <div class="text-center resourceLeftButon" >
        <div  class="lightBlueButton">actions</div>
        <P style="color : white;">{{actions}}</P>
      </div>
    </div>

    <div class="col-8 resourceRight">
      <div *ngFor="let resource of resources" class="resourceLeftButon">
        <div class="lightBlueButton">
          {{resource.fr}}: {{resource.value}}
        </div>

      </div>
    </div>
  </div>
</mat-card>
