:host {
  display: flex;
  justify-content: center;
  padding: 100px 0px;
  flex-direction: column;
  align-items: center;
}

mat-card{
  &:not(:last-of-type){
    margin-bottom: 40px;
  }

  mat-card-title,
  mat-card-content {
    .mat-form-field {
      width: 100%;
      min-width: 300px;
    }

    .error {
      padding: 16px;
      width: 300px;
      color: white;
      background-color: red;
    }

    .button {
      display: flex;
      justify-content: flex-end;
    }
  }
}
