<mat-card>
  <mat-card-title><span>Connexion</span></mat-card-title>
  <mat-card-content>
    <form [formGroup]="formLogin" (ngSubmit)="submitLogin()">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Ton email</mat-label>
          <input type="text" matInput formControlName="email">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Ton mot de passe</mat-label>
          <input type="password" matInput formControlName="password">
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submitLogin" mat-raised-button matRipple color="primary">Entrer dans Terra JDR</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title><span>Créer un compte</span></mat-card-title>
  <mat-card-content>
    <form [formGroup]="formCreate" (ngSubmit)="submitCreate()">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Ton pseudo</mat-label>
          <input type="text" matInput formControlName="pseudo">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Ton email</mat-label>
          <input type="text" matInput formControlName="email">
        </mat-form-field>
      </p>


      <p>
        <mat-form-field appearance="fill">
          <mat-label>Ton mot de passe</mat-label>
          <input type="password" matInput formControlName="password">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Confirmation</mat-label>
          <input type="password" matInput formControlName="confirmPassword">
        </mat-form-field>
      </p>


      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submitLogin" mat-raised-button matRipple color="accent">Créer</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
