<mat-toolbar color="primary">
  <ul class="nav-left">
    <li>
      <a mat-icon-button routerLink="/u/jeu" matTooltip="Mondes">
        <mat-icon>home</mat-icon>
      </a>
    </li>
    <li>
      <p style="color:black">dernière mise à jour: 09/05/2020 15:30</p>
    </li>
    <li *ngIf="isAdmin()">
      <a mat-icon-button routerLink="/u/admin" matTooltip="Admin">
        <mat-icon>tune</mat-icon>
      </a>
    </li>
  </ul>

  <div>
    <span class="user">{{getUserPseudo()}} </span>
    <button mat-icon-button (click)="deconnexion()" color="warn" matTooltip="Déconnexion">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
