:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content{
  flex: 1;
  margin: 20px;
}

mat-toolbar{
  justify-content: space-between;

  .nav-left{
    margin: 0;
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-left: 0;

    &>li{
      padding: 5px;
    }
  }

  .user{
    display: inline-block;
    vertical-align: middle;
  }

  &.footer{
    height: 32px;
  }
}
