
<div *ngIf="getCharacter() && updates()" class="list-group-item">

  <nav class="navbar navbar-expand-sm bg-light">

    <ul class="nav navbar-nav ml-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/u/jeu/carte">carte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/u/jeu/perso">perso</a>
      </li>
    </ul>


    <ul class="nav navbar-nav ml-auto">

      <li *ngFor="let resource of getResources()" class="nav-item">
        <div class="list-group-item list-group-item-primary">{{resource.nom}}: {{resource.value}}</div>
      </li>
    </ul>


  </nav>


</div>
<router-outlet></router-outlet>
