.message{
  display:block;
  height : 256px ;
  width: auto;
  overflow-y: auto;
}
tbody {
  display:block;
  height:256px;
  overflow:auto;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}
thead {
  width: calc( 100% - 1em )
}
