<mat-card>
  <mat-card-title><span>Dialogue</span></mat-card-title>
  <mat-card-content >
    <table class="table">
      <thead>
        <tr>
          <th scope="col" >date</th>
          <th scope="col">coordonnées</th>
          <th scope="col">type</th>
          <th scope="col">D100</th>
          <th scope="col">message</th>
        </tr>
      </thead>
      <tbody id="bodyMessage" >
        <tr *ngFor="let message of getMessages()" >
          <td>{{message.date_fr}}</td>
          <td >{{message.position.x}}/{{message.position.y}}</td>
          <td >{{message.type}}</td>
          <td >{{message.D100}}</td>
          <td >{{message.message}}</td>
        </tr>
      </tbody>
    </table>

  </mat-card-content>
</mat-card>

