<mat-card>
  <mat-card-title><span>Dialogue</span></mat-card-title>
  <mat-card-content >
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width: 7.5%;">date</th>
          <th scope="col" style="width: 7.5%;">x/y</th>
          <th scope="col" style="width: 15%;">type</th>
          <th scope="col" style="width: 10%;">D100</th>
          <th scope="col" style="width: 60%;">message</th>
        </tr>
      </thead>
      <tbody id="bodyMessage" >
        <tr *ngFor="let message of getMessages()" >
          <td style="width: 7.5%;">{{message.date_fr}}</td>
          <td style="width: 7.5%;">{{message.position.x}}/{{message.position.y}}</td>
          <td style="width: 15%;">{{message.type}}</td>
          <td style="width: 10%;">{{message.D100}}</td>
          <td style="width: 60%;">{{message.message}}</td>
        </tr>
      </tbody>
    </table>

  </mat-card-content>
</mat-card>

