

<h1 mat-dialog-title>chercher une resource</h1>

<mat-dialog-content>
  <mat-radio-group  [(ngModel)]="resource" (change)="setResource()">
    <div>
      <mat-radio-button checked="checked" [value]="'getWater'">eau</mat-radio-button>
    </div>
    <div>
      <mat-radio-button [value]="'getFood'">nourriture</mat-radio-button>
    </div>
    <div *ngIf="canGetMaterial()">
      <mat-radio-button [value]="'getMaterial'">matériel</mat-radio-button>
    </div>
    <div>
      <mat-radio-button [value]="'getFaith'">foi</mat-radio-button>
    </div>
  </mat-radio-group>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button class="btn-success" (click)="validate()">valider</button>
  <button mat-button type="button" class="btn-danger" mat-dialog-close>annuler</button>
</mat-dialog-actions>

