<div class="jumbotron text-center">
  <h3>Editer les mondes en temps réel</h3>
  <div class="worlds flex-row" >
    <div *ngFor="let world of getWorlds()" class="list-group-item list-group-item-success">
      <h3 [ngClass]="{
     'btn': true,
     'btn-dark': !isFocus(world),
     'btn-success': isFocus(world)

      }" (click)="enterInWorld(world)">{{world.name}}</h3>

    </div>
  </div>
</div>


<nav class="navbar navbar-expand-sm bg-light">

  <ul class="nav navbar-nav ml-0">
    <li class="nav-item">
      <a class="nav-link" routerLink="/u/admin/carte">carte</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/u/admin/models">models</a>
    </li>
  </ul>

</nav>
<router-outlet></router-outlet>
