<div class="jumbotron text-center">
  <h3>Editer les mondes en temps réel</h3>
  <div class="worlds flex-row" >
    <div *ngFor="let world of getWorlds()" class="list-group-item list-group-item-success">
      <h3 [ngClass]="{
     'btn': true,
     'btn-dark': !isFocus(world),
     'btn-success': isFocus(world)

      }" (click)="enterInWorld(world)">{{world.name}}</h3>

    </div>
    <div class="list-group-item list-group-item-success">
      <button class="btn btn-primary" (click)="openCreateWorld()">+</button>
    </div>
  </div>


  <div *ngIf="createNewWorld" class="list-group-item">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Nom</span>
      </div>
      <input id="inputCreateWorldName" type="text" class="form-control" placeholder="nom du monde" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Largeur</span>
      </div>
      <input id="inputCreateWorldWidth" type="number" class="form-control" placeholder="largeur x du monde en nombre de cases" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Hauteur</span>
      </div>
      <input id="inputCreateWorldHeight" type="text" class="form-control" placeholder="hauteur y du monde en nombre de cases" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <button class="btn btn-success" (click)="createWorld()">créer</button>
  </div>

</div>


<nav class="navbar navbar-expand-sm bg-light">

  <ul class="nav navbar-nav ml-0">
    <li class="nav-item">
      <a class="nav-link" routerLink="/u/admin/carte">carte</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/u/admin/models">models</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/u/admin/calculs">calculs</a>
    </li>
  </ul>

  <ul class="nav navbar-nav ml-auto">
    <div class="btn btn-outline-danger" (click)="pass()">passer un tour</div>
  </ul>

</nav>
<router-outlet></router-outlet>
