<div class="row">

  <div class="col-7 row">

    <div class="col-8">
      <mat-card class="col-12 charaDescription">
        <mat-card-title><span>{{getCharacter().name}}</span></mat-card-title>
        <div class="row charaDescriptionInside">

          <div class="col-4 row flex-column charaInfos charaDescriptionInside">
            <img *ngIf="getCharacter()" class="charaImage" src = "/assets/images/cat.png">
            <div class ="btn btn-primary midleBlueColor" style="margin:5%">changer avatar</div>
            <div class ="btn btn-primary midleBlueColor" style="margin:5%">profil public</div>
            <div *ngFor="let info of getInfos()">
              <div class ="lightBlueButton">{{info}}</div>
            </div>
          </div>

          <div class="col-8">
            <h4>histoire</h4>
            <div textArea=""></div>
          </div>

        </div>
      </mat-card>
    </div>

    <div class="col-4">
      <mat-card>
        <mat-card-title><span>COMPETENCES</span></mat-card-title>
        <div class="flex-column row justify-content-center">
          <div class ="align-self-center brown-info">Expérience disponible : {{getXp()}}</div>
          <div *ngFor="let skill of skills" class = "col-12 align-self-center row" >
            <div class="col-7 lightBlueButton">{{getSkillNameFr(skill.key)}} {{skill.value}}</div>
            <div class="row col-5 adders float-lg-right">
              <div (click)="addSkill(skill, 1)" class="btn midleBlueColor col-4">+1</div>
              <div (click)="addSkill(skill, 10)"class="btn midleBlueColor col-4">+10</div>
            </div>
          </div>
        </div>
      </mat-card>

      <mat-card>
        <mat-card-title><span>divinité personnelle</span></mat-card-title>
        <div class="row">
          <img class="col-5 charaImage" [src]="getReligionImagePath()">
          <div class="flex-column col-7 row">
            <div *ngFor="let spell of spells" class="align-self-center row" >
              <div class="lightBlueButton">{{getSpellNom(spell.readKey())}}</div>
            </div>
          </div>

        </div>
      </mat-card>
    </div>


    <app-message class="col-12"></app-message>

  </div>

  <div class="col-md-5 row">
    <div class="container-fluid">
      <app-resources></app-resources>
    </div>
  </div>
</div>

<div class="list-group-item list-group-item-primary">

  <div class="list-group-item list-group-item-danger">
    <h4>fortifications:</h4>
    <div class="flexRow">
      <div  *ngFor="let fortification of fortifications">
        <div class="list-group-item list-group-item-danger">
          <canvas id="{{fortification.id}}" class="canvasFortification"></canvas>
          <p>pv:{{fortification.life}}/1000</p>
          <p>position : {{fortification.x}}x, {{fortification.y}}y</p>
        </div>
      </div>
    </div>
  </div>
</div>
