<div class="row">

  <div class="col-7 row">

    <div class="col-8">
      <mat-card class="col-12 charaDescription">
        <mat-card-title *ngIf="getCharacter()"><span>{{getCharacter().name}}</span></mat-card-title>
        <div class="row charaDescriptionInside">

          <mat-card-content class="col-4 row flex-column charaInfos charaDescriptionInside">
            <img *ngIf="getCharacter()" class="charaImage" src = "/assets/images/cat.png" >
            <div class ="btn btn-primary midleBlueColor" style="margin:5%">changer avatar</div>
            <div class ="btn btn-primary midleBlueColor" style="margin:5%">profil public</div>
            <div *ngFor="let info of getInfos()" class ="lightBlueButton" [matTooltip]="info.description_fr" >{{info.name_fr}} </div>
          </mat-card-content>

          <app-character-details class="col-8">
          </app-character-details>

        </div>
      </mat-card>
    </div>

    <div class="col-4">
      <mat-card>
        <mat-card-title><span>COMPETENCES</span></mat-card-title>
        <div class="flex-column row justify-content-center">
          <div class ="align-self-center brown-info">Expérience disponible : {{getXp()}}</div>
          <div *ngFor="let skill of skills" class = "col-12 align-self-center row" >
            <div class="col-7 lightBlueButton">{{getSkillNameFr(skill.key)}} {{skill.value}}</div>
            <div class="row col-5 adders float-lg-right">
              <div (click)="addSkill(skill, 1)" class="btn midleBlueColor col-4">+1</div>
              <div (click)="addSkill(skill, 10)"class="btn midleBlueColor col-4">+10</div>
            </div>
          </div>
        </div>
      </mat-card>

      <mat-card>
        <mat-card-title><span>divinité personnelle</span></mat-card-title>
        <div class="row">
          <img class="col-5 charaImage" [src]="getReligionImagePath()">
          <div class="flex-column col-7 row">
            <div *ngFor="let spell of spells" class="align-self-center row" >
              <div class="lightBlueButton">{{getSpellNom(spell.readKey())}}</div>
            </div>
          </div>

        </div>
      </mat-card>
    </div>

    <app-message class="col-12" style="margin-top: 16px"></app-message>

  </div>

  <div class="col-md-5 row">
    <div class="container-fluid">
      <app-resources></app-resources>
    </div>
  </div>
</div>
