<div class="list-group-item list-group-item-danger">
  <p> éditer les formules de calcul des actions ou interractions entre les éléments.</p>
  <div class="flexRow">
    <div *ngFor="let calcul of calculations">
      <div class="list-group-item list-group-item-danger ">
        <h3>{{calcul.name}}</h3>
        <div class="list-group-item list-group-item-danger">
          <div *ngFor="let attribute of calcul.attributes">
            <p>{{attribute.key}}</p>
            <input value="{{attribute.value}}" [(ngModel)]="attribute.value" (change)="updateValue(calcul.name, attribute.key, attribute.value)">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
