<div class="list-group-item">
  <div class="list-group-item list-group-item align-content-center align-items-center text-center">
    <canvas id="worldViewGame"></canvas>
  </div>
  <div class="list-group-item list-group-item-primary">déplacements: {{getMove()}}</div>
</div>

<div *ngIf="update()">

  <div class="list-group-item flexRow">
    <div class="list-group-item list-group-item">
      <h3>actions</h3>
      <div class="list-group-item list-group-item-warning">
        <div *ngFor="let action of actives" >
          <div
            class="btn btn-warning"

            (click)="useActive(action)">{{action.nom}}</div>
        </div>
      </div>
    </div>

    <div class="list-group-item list-group-item">
      <h3>interactions</h3>
      <div class="list-group-item list-group-item-warning">
        <div *ngFor="let interaction of interactions" >
            <h3>{{interaction.target.name}}</h3>
            <div class="list-group-item list-group-item-warning">
              <div *ngFor="let action of interaction.actions">
                <div class="btn btn-warning">{{action.nom}}</div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>


</div>

