#worldViewGame{
  border-radius: 8px;
  border: 1px solid black;
  width : 90% ;
  height : auto ;
}
.flexRow{
  display: flex;
  flex-direction: row;
}
.canvasInteraction{
  align-self: center;
  width : 75% ;
  height: auto;
}
