@import '../../../theme';

.canvasInteraction{
  border-radius: 50%;
  border : 1px solid rgba(0,0,0,0.25);
  align-self: center;
  background-color: rgba(0,0,0,0.1);
  width : 75% ;
  height: auto;
}
.canvasCase{
  width: 104%;
  margin-left: - 2%;
  background-color: rgba(255,255,255,0.1);
  border : 1px solid white ;
}
.itemsChara{
  max-width: 256px;
  max-height: 128px;
  overflow-y: scroll;
}
.interactions{

  background-color: black;
  background: linear-gradient(to left, #ffffff 66.6%, #8d6e63 66.6%);

  padding-left: 0px;
  padding-right: 0px;
  margin: 0px ;

}
.interactionsContent{
  padding : 0px ;
  margin: 0px;
}
.focusedCase{
  padding: 2.5%;
  margin: 0px;

}

.neutralCanvas{
  border-color: black;
  border : 2px solid ;
}
.allyCanvas{
  border-color: #0CA202 ;
  border : 2px solid ;
}
.ennemyCanvas{
  border-color: red;
  border : 2px solid ;
}

.health-bar{
  position: relative;
  height: 5px;
  background-color: mat-color($warn);

  .heal,.hp{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .heal{
    background-color: $heal;
    transition: width .3s;
  }

  .hp{
    background-color: $hp;
    transition: width .5s;
  }
}
