<div class="row">
  <div class="col-md-7 row h-auto d-inline-block">
    <mat-card class="col-12">
      <mat-card-title><span>Carte</span></mat-card-title>
        <mat-card-content class="row">
          <canvas id="worldViewGame"></canvas>
        </mat-card-content>
    </mat-card>
    <br>
    <app-message></app-message>
  </div>
  <div class="col-md-5 row">
    <div class="container-fluid">

      <app-resources></app-resources>
      <br>
      <mat-card>
        <mat-card-title><span>interactions</span></mat-card-title>
        <mat-card-content class="row">
          <div class="col-4">
            <div *ngIf="caseFocused" class="row flex-column text-center">
              <canvas id="{{caseFocused.id}}" class="canvasInteraction" ></canvas>
              <h3>{{caseFocused.title()}}</h3>
              <p>Coordonnées {{caseFocused.getPosition().x}}/{{caseFocused.getPosition().y}}</p>
              <div *ngFor="let action of caseFocused.actions">
                <div class="btn btn-warning" (click)="useInteraction(caseFocused, action)">{{action.getNom(caseFocused.user, caseFocused.target)}}</div>
              </div>
              </div>
          </div>
          <div class="col-8 row">

            <div *ngFor="let interaction of interactions" class="col-4">

              <div *ngIf="interaction.draw()" class="text-center">
                <canvas id="{{interaction.id}}" class="canvasInteraction"></canvas>
                <h5>{{interaction.title()}}</h5>
                <p *ngIf="interaction.target.life">{{interaction.target.life}}/{{interaction.target.life_max}}pv</p>
                <div class="row flex-column">
                  <div *ngFor="let action of interaction.actions">
                    <div class="btn btn-warning" (click)="useInteraction(interaction, action)">{{action.getNom(interaction.user, interaction.target)}}</div>
                  </div>
                </div>
              </div>

            </div>


          </div>

        </mat-card-content>
      </mat-card>


    </div>


  </div>

</div>



