<mat-card>
  <mat-card-title><span>Mondes</span></mat-card-title>
  <mat-card-content>
    <mat-button-toggle-group name="world">
      <mat-button-toggle *ngFor="let world of getWorlds()" [checked]="isFocus(world)" (click)="enterInWorld(world)">
        {{world.name}}</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card-content>
</mat-card>


<mat-card *ngIf="isInitialized() && getWorld() && getCharacters().length == 0">
  <mat-card-title><span>Crée ton personnage</span></mat-card-title>
  <mat-card-content>
    <form id="character-creation" (ngSubmit)="createCharacter()">
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input type="text" matInput name="charName">
      </mat-form-field>

      <div class="dib">
        <h5 class="mat-h5">Sexe</h5>
        <mat-radio-group name="gender" required value="man">
          <mat-radio-button value="Masculin">
            <mat-icon style="clip-path: inset(0% 50% 0% 0%);" matTooltip="Masculin">wc</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="Féminin">
            <mat-icon style="clip-path: inset(0% 0% 0% 50%);" matTooltip="Féminin">wc</mat-icon>
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field>
        <mat-label>Race</mat-label>
        <mat-select name="race" [(ngModel)]="race">
          <mat-option [value]="'human'">Humain</mat-option>
          <mat-option [value]="'dwarf'">Nain</mat-option>
          <mat-option [value]="'vampire'">Vampire</mat-option>
          <mat-option [value]="'elf'">Elf</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Religion</mat-label>
        <mat-select name="religion"  [(ngModel)]="religion">
          <mat-option [value]="'hermes'">Hermès</mat-option>
          <mat-option [value]="'demeter'">Déméter</mat-option>
          <mat-option [value]="'athena'">Athéna</mat-option>
          <mat-option [value]="'ephaistos'">Héphaïstos</mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button type="submit" mat-raised-button matRipple color="accent">Créer</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="getCharacters().length > 0">
  <mat-card-title><span>Personnages</span></mat-card-title>
  <mat-card-content>
    <mat-button-toggle-group name="character">
      <mat-button-toggle *ngFor="let character of getCharacters()" (click)="chooseCharacter(character)">{{character.name}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card-content>
</mat-card>

