<div class="jumbotron text-center">
  <h3>choisis le monde dans lequel tu marquera l'Histoire de Terra.</h3>
  <div class="worlds" >
    <div *ngFor="let world of getWorlds()" class="list-group-item list-group-item-success">
      <h3 [ngClass]="{
     'btn': true,
     'btn-dark': !isFocus(world),
     'btn-success': isFocus(world)

      }" (click)="enterInWorld(world)">{{world.name}}</h3>

    </div>
  </div>

  <div *ngIf="isInitialized() && getWorld() && getCharacters().length <= 0" class="list-group-item list-group-item-success">
    <h3>crée ton personnage</h3>
    <div class="list-group-item list-group-item-success">
      <div class="list-group-item-success">
        <h5>nom:</h5>
        <input id="createName">
      </div>
      <div class="list-group-item-success">
        <h5>sexe:</h5>
        <form name ="sexe">
          <input type="radio" name="checker" value="Masculin" checked="checked"/>Masculin<br />
          <input type="radio" name="checker" value="Féminin"/>Féminin<br />
        </form>

      </div>
      <div class="list-group-item-success">
        <h5>race:</h5>
        <form name ="race">
          <input type="radio" name="checker" value="human" checked="checked"/>Humain<br />
          <input type="radio" name="checker" value="dwarf"/>Nain<br />
          <input type="radio" name="checker" value="vampire"/>Vampire<br />
          <input type="radio" name="checker" value="elf"/>Elf<br />
        </form>
      </div>
    </div>
    <div class="btn btn-success" (click)="create()">créer</div>
  </div>

  <div *ngIf="getCharacters().length > 0">
    <h3>joues avec:</h3>
    <div class="list-group-item-success row">
      <div *ngFor="let character of getCharacters()">
        <div class="btn btn-success" (click)="chooseCharacter(character)">{{character.name}}</div>
      </div>
    </div>
  </div>

</div>
