@import './theme';

//default palette forground/background:
$light-foreground-palette: map-get($theme, foreground);
$light-background-palette: map-get($theme, background);

//dark palette forground/background:
$dark-foreground-palette: map-get($dark-t, foreground);
$dark-background-palette: map-get($dark-t, background);

.light-colors{
    background-color : mat-color($primary, default);
    color: mat-color($light-foreground-palette, text);
}
.dark-colors{
    background-color : mat-color($dark-p, default);
    color: mat-color($dark-foreground-palette, text);
}

// Utilities
.dib{
  display: inline-block;
}

// Main
html{
  min-height: 100%;
  background-color: #ECEFF1;
}

body {
  min-height: 100%;
  background-color: transparent;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card{
  border-top: 15px solid mat-color($primary, default);

  mat-card-title{
    margin-top: -38px !important;
    text-transform: uppercase;
    text-align: center;

    &>span{
      background-color: mat-color($primary, darker);
      padding: 4px 8px;
      color: mat-color($dark-foreground-palette, text);
      font-weight: 300;
      font-size: 15px;
      @include mat-elevation(2);
    }
  }

  mat-card-content{
    margin-top: 20px;
  }

  mat-card-title, mat-card-content{
    display: flex !important;
    justify-content: center;
  }
}
