@import './theme';

.light-colors{
    background-color : mat-color($primary, default);
    color: mat-color($light-foreground-palette, text);
}
.dark-colors{
    background-color : mat-color($dark-p, default);
    color: mat-color($dark-foreground-palette, text);
}

// Utilities
.dib{
  display: inline-block;
}

// Main
html{
  height: 100%;
  background-color: #ECEFF1;
}

body {
  height: 100%;
  background-color: transparent;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card{
  border-top: 15px solid mat-color($primary, lighter);

  mat-card-title{
    margin-top: -36px !important;
    text-transform: uppercase;
    text-align: center;

    &>span{
      display: inline-block;
      width: 150px;
      background-color: mat-color($primary, darker);
      padding: 4px 8px;
      color: mat-color($dark-foreground-palette, text);
      font-weight: 300;
      font-size: 12px;
      @include mat-elevation(2);
    }
  }

  mat-card-content{
    margin-top: 20px;
  }

  mat-card-title, mat-card-content{
    display: flex !important;
    justify-content: center;
  }
}

.flexRow{
  display: flex;
  flex-direction: row;
}
