@import './theme';

@font-face {
  font-family: Roboto;
  src: url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap") format("opentype");
}

.light-colors{
    background-color : mat-color($primary, default);
    color: mat-color($light-foreground-palette, text);
}
.dark-colors{
    background-color : mat-color($dark-p, default);
    color: mat-color($dark-foreground-palette, text);
}

// Utilities
.dib{
  display: inline-block;
}

// Main
html{
  height: 100%;
  background-color: #ECEFF1;
}

body {
  height: 100%;
  background-color: transparent;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card{
  border-top: 15px solid mat-color($primary, lighter);

  mat-card-title{
    margin-top: -36px !important;
    text-transform: uppercase;
    text-align: center;

    &>span{
      display: inline-block;
      width: 150px;
      background-color: mat-color($primary, darker);
      padding: 4px 8px;
      color: mat-color($dark-foreground-palette, text);
      font-weight: 300;
      font-size: 12px;
      @include mat-elevation(2);
    }
  }

  mat-card-content{
    margin-top: 20px;
  }

  mat-card-title, mat-card-content{
    display: flex !important;
    justify-content: center;
  }
}


mat-button-toggle{
  background-color: red;
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.lightBlueButton{
  background-color: #c5cae9;
  color : black ;
  text-align: center;
  font-size: smaller;
  padding: 8px;
  margin : 4px;
  border : 1px solid white ;
  align-self: center;
}
.midleBlueColor{
  border-radius: 0px;
  border : 1 px solid ;
  border-color: #95989A ;
  background-color: #5C6BC0;
  color : white ;
  text-align: center;
  font-size: smaller;
  padding: 4px;
  width: 90% ;
}

.caseColor{
  color : white ;
}
.caseColor p {
  color : rgba(255,255,255,0.85) ;
}

.teamColor{
  color : #0CA202 ;

}
